
.modal-cart__wrap{
    background-color: rgb(255, 255, 255);position: fixed;top: 0;left: 0;bottom: 0;right: 0;overflow: scroll;z-index: 50;
    display:none;
}
.modal-cart__wrap.show{display: block;}
/* body{margin: 0;} */
.main__bag-page-wrap{
    padding: 7vw 0;
}
.main__bag-page{
    display: flex;
}
.bag-page__detail{
    flex-basis: 65%;
    /* height: 2000px;
    overflow-y: scroll; */
}

.bag-page__detail-wrap{
    padding: 0 5.5vw 0 3.5vw;
}
.bag-page__detail-wrap > h1 {
    margin-bottom: 3rem;
}
.bag-page__privacy{
    flex-basis: 35%;
}

/* .bag-page__privacy.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 65%;
}
.bag-page__privacy.out{
    position: absolute;
    top: -100%;
} */
.bag-page__privacy-mobile{
    display: none;
}
.detail__phone-container{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 1vw 0 0;
    overflow: auto;
    max-height: 235px;
    transition: max-height .2s linear;
}
.detail__phone-container::-webkit-scrollbar{
    width: 5px;
}
.detail__phone-container.show{
    max-height: 100%;
}
.detail__note-out-source{
    margin: 2rem 0;
    padding: 2rem 2vw;
    text-align: center;
    background: #F5F5F5;
    font-weight: 500;
    animation: changeBackground 1 .2s linear;
    transition: background .3s linear;
    display: none;
}
@keyframes changeBackground {
    0%{
        background:linear-gradient(to right, #F5F5F5, #b8b8b8); 
    }
    50%{
        background:linear-gradient(to left, #F5F5F5, #b8b8b8); 
    }
    100%{
        background: #F5F5F5;
    }
}
.detail__note-out-source.show{
    display: block;
}
.detail__phone{
    padding: 2.5rem 0;
    border-bottom: 1px solid#e7e7e7;
}
.detail__phone-wrap{
    display: flex;
}
.phone__in4-part{
    flex-basis: 50%;
}
.phone__price-part{
    flex-basis: 50%;
    display: flex;
}
.phone__price-part .price-part__cta{
    flex-basis: 30%;
}
.phone__price-part .price-part__price{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   flex-basis: 70%;
}
input.input-field{
    appearance: none;
    border: 2px solid #b4b4b4;
    outline: none;
    padding: .4rem 0;
    width: 4vw;
    font-size: 20px;
    text-align: center;
}
.price-part__price .price-part__cta{
    padding: 1.3rem 0;
    text-decoration: underline;
}
.price-part__small{
    color: #0063B2FF;
}
.price-part__note{
    font-size: .9rem;
}
.price-part__price .price-part__cta a{
    color: #373737;
    transition: all .3s ease-in-out;
}
.price-part__price .price-part__cta a:hover{
    border-bottom: 1px solid;
}
.phone__in4-part{
    display: flex;
}
.in4-part__img{
    flex-basis:30%;
}
.in4-part__text{
    padding-right: 1vw;
}
.in4-part__img img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 70px;
}
.detail__phone-notification{
    width: 85%;
    text-align: center;
    padding: .5rem 1rem;
    margin-left: auto;
    background: #f1f1f19b;
    border-radius: 5px;
}
.btn__detail-more-wrap{margin: 1.5rem 0;text-align: center;display: none;}
.btn__detail-more-wrap.show{display: block;}
.btn__detail-more{
    appearance: none;
    outline: none;
    border: 1px solid #373737;
    background: #fff;
    padding: .5rem 2rem;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    width: 30%;
}
@media screen and (max-width: 34.375em) {
    .btn__detail-more{
        width: 50%;
    }
    .cta__inc-dec{
        gap: 2vw;
    }
    .price-part__price{
        gap: 1vw;
    }
    .detail__phone-notification{
        width: 100%;
    }
}

.btn__detail-more:hover{
    background: #373737;
    color: #fff;
}
.discount__code{
    padding: .7rem 0;
    border-bottom: 1px solid #e7e7e7;
}
.discount__input-field{
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height .3s linear, opacity .15s ease;
}
.discount__input-field.show{
    max-height: 65.32px;
    opacity: 1;
}
.discount__btn{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: .5rem 0;
    color: #373737;
}
.discount__btn:hover, .discount__btn:active{
    color: #373737da;
}
.discount__btn i {padding-right: 1vw;}
.discount__input{
    padding-right: 1vw;
}
.discount__input > input{
    padding: .5rem 1rem .5rem .5rem;
    background-color: #f8f8f8;
    outline: none;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    width: 100%;
}
.discount__input > input:focus{
    background-color: #fff;
    border-color: blue;
}
.discount__input-field .discount__btn button{
    padding: .5rem 1rem;
    background-color: #f8f8f8;
    outline: none;
    border: 1px solid #b4b4b4;
    border-radius: 30px;
    cursor: pointer;
}
.discount__input-field .discount__btn button span{
    font-size: .7rem;
    text-align: center;
}
.discount__input-field .discount__btn button:hover{
    background-color: #fff;
    border-color: blue;
}
.discount__input-field .discount__btn button:disabled{
    opacity: .8;
    background-color: #f3f3f3;
}
.discount__input-field .discount__btn button:disabled:hover{
    border-color: #b4b4b4;
}
.detail__cta{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
.detail__cta > *:not(.cta__like__modal-thanks-wrap){
    color: #373737;
    cursor: pointer;
}
.detail__cta i {
    color: blue;
}
.cta__buy:hover, .cta__like:hover{text-decoration: underline;opacity: 1;}
.product-w__content-wrap{
    margin: 7vw 0 3vw;
}
.product-w__wrap{
    display: flex;
    padding: 3rem 0;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}
.detail__title1{
    text-align: center;
    margin-bottom: 2vw;
}
.product-w__item{
    flex-basis: 33.3333%;
}
.pd-w__item-wrap{
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
}
.pd-w__img{
    flex: 1;
    margin-bottom: 3rem;
}
.pd-w__img img{
    max-width: 100%;
}
.pd-w__content{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-bottom: 2rem;
}
.content__name, .content__price{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
/*Show JS*/
.delete-modal__wrap, .cta__like__modal-thanks-wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
    background: rgb(255, 234, 234);
    border-radius: 5px;
    z-index: 50000000000000;
}

.delete-modal{
    width: 100%;
    padding: 1rem;
}
.delete-modal > *{margin-bottom: 1rem;}
.del-modal__exit-btn{text-align: right;}
.del-modal__exit-btn i {cursor: pointer;}
.del-modal__title {padding: 0 2vw 0 0;}
.del-modal__title h2 {font-size: 1.3rem;margin-bottom: .7rem;}
.del-modal__title p{margin: 0 0 2rem 0;}
.del-modal__btn{
    display: flex;
    justify-content: flex-end;
    margin: .5rem 0 0 0;
    gap: 1vw;
}

.del-modal__btn button,.md-ths__ctent-btn button{
    appearance: none;
    outline: none;
    padding: .5rem 2vw;
    cursor:pointer;
    border-radius: 5px;
}

.del-modal__btn button.del-md__delete-btn{
    background: red;
    color: #fff;
    border: 1px solid rgb(255, 111, 111);
}
.del-modal__btn button.del-md__delete-btn:hover{
    background: rgb(241, 0, 0);
}
.del-modal__btn button.del-md__cancel-btn{
    background: #fff;
    border: 1px solid #373737;
}
.del-modal__btn button.del-md__cancel-btn:hover{
    background: rgb(245, 245, 245);
}

/*thanks-modal==========*/
.cta__like__modal-thanks-wrap {
   background: #fff;
   border: 1px solid #333;
}
.md-thanks__exit-btn{text-align: right;cursor: pointer;}
.cta__like__modal-thanks-wrap.show{display: block;}
.md-thanks{   padding: 1rem;}
.cta__like__modal-thanks-wrap i {color: #00FFA9;font-size: 30px;}
.cta__like__modal-thanks-wrap button{background: rgba(0, 255, 170, 0.56);}
.md-thanks__content{text-align: center;}
.md-thanks__content > *{margin: 3rem 0;}
.md-ths__ctent-text > *{margin-bottom: .6rem;}

.md-ths__ctent-btn button{
    padding: .5rem 5vw;
    border-radius: 20px;
    border: 1px solid #00865a;
    transition: .2s ease-in-out;
}
.md-ths__ctent-btn button:hover{
    background:#00FFA9;
    color: #333;
}

#tickIcon{
    animation: rotateLittle 1 1s .5s ease-in-out;
    transform-origin: center center;
}
@keyframes rotateLittle {
    0%{
        transform: rotate(-7deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#bg-tick{
    animation: showOut 1 .2s ease-in-out;
    transform-origin: center center;
}
@keyframes showOut {
    from{
        background: transparent;
        transform: scale(0);
        opacity: 0;
    }to{
        background: #00FFA9;
        transform: scale(1);
        opacity: 1;
    }
}
#tick{
    animation: showTick 1 .6s ease-in-out;
    transform-origin: center center;
}
@keyframes showTick {
    0%{
        display: none;
        opacity: 0;
    }
    50%{
        display: block;
        opacity: 1;
    }
    75%{transform: scale(1.5);}
    100%{
        transform: scale(1);
    }
}

/*thanks-modal==========*/
@media screen and (max-width: 59.375em)/*950px*/ {
    .delete-modal__wrap, .cta__like__modal-thanks-wrap{
        width: 55%;
    }
}
@media screen and (max-width: 41.6875em){
    .delete-modal__wrap,.cta__like__modal-thanks-wrap{
        width: 65%;
    }
    .del-modal__btn button.del-md__delete-btn{
        padding: .5rem 5vw;
    }
}
@media screen and (max-width: 34.375em){
    .delete-modal__wrap,.cta__like__modal-thanks-wrap{
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
    }
    .cta__like__modal-thanks-wrap{left: 5%;right: 5%;}
    .md-ths__ctent-img svg{height: 180px;width: 180px;}
    .md-ths__ctent-btn button{padding: 1rem 3rem;border-radius: 30px;font-size: 20px;}
    .md-thanks__content > *{margin: 2rem 0;}
    .delete-modal > *{
        padding: .3rem;
    }
    .delete-modal i{font-size: 30px;}
    .del-modal__btn{
        gap: 3vw;
    }
    
}
@media screen and (max-width: 25em){
    .del-modal__title{
        padding-right: 2rem;
    }
    .del-modal__title h2{font-size: 19px;}
    .del-modal__title p{font-size: 15px;}
    .md-ths__ctent-text{font-size: 15px;}
    
}
@media screen and (max-width: 23.4375em) {

        .del-modal__title h2{font-size: 19px;}
    .del-modal__title p {font-size: 14px;}
}



/*Show JS*/
.content__name span, .content__price span{
    height: 38.67px;
}
.pd-w__subcontent-cta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pd-w__subcontent-wrap{
    padding: 0 2vw 1.5rem;
}
.pd-w__subcontent{
    background: #f1f1f19b;
    padding: 1.5vw;
}
.pd-w__btn button{
    padding: 1rem 1.2rem;
    border-radius: 30px;
    background: #fff;
    outline: none;
    border: 1px solid #373737;
    width: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.pd-w__btn button span {
    font-weight: bold;
}
.pd-w__btn button:hover{
    background: #0063B2FF;
}
.pd-w__btn button:hover span{
    color: #fff;
}
.type-pay > * {
    margin-bottom: 1.5vw;
}
.type-pay__img-wrap{
    display: flex;
    flex-wrap: wrap;
}
.type-pay__note *{
    color: #373737;
}
.type-pay__note a {
    text-decoration: underline;
}


.bag-page__privacy-wrap{
    padding: 2vw;
    background-color: #f5f5f5;
    position: relative;
}
.bag-page__privacy-wrap > *{
    margin-bottom: 1rem;
}
.bag-page__privacy-wrap h3 {
    padding: 1rem 0;
    margin:0 0 1rem 0;
}

.privacy__content{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.pv-ct__img {
    flex-basis: 20%;
    margin-right: .5vw;
}
.pv-ct__content{
    flex-basis: 80%;
}
.pv-ct__img img {
    margin: 0 auto;
    max-width: 100%;
}
.privacy__pay-sup{margin-top: 4vw;}
.pay-sup__list ul{
    margin: 1vw 0 4vw 2vw;
}
.pay-sup__list ul li {
    list-style-type: "\2713"; /*only css3*/
    list-style-position:inside;
    padding: .3vw 0;
}
.pay-sup__list ul li::marker{margin-right:.5vw ;}

/*SHOW JS*/

.privacy__type-pay-select-wrap{
    position:absolute;top:0; right: 0; left: 0;bottom:0;background: #f5f5f5; z-index: 10;
}
.pvc__tp-select{
    padding:1vw;
}

.tp-select{
    display: flex;
    background: #fff;
    padding: 1vw;
}
.tp-select__item{
    flex-basis: 33.333%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: .5vw;
    background: #F8F9FA;
    border-radius: 5px;cursor: pointer;
}
.tp-select__item.active{
    background: #0063B2FF;
    color: #fff;
}
.tp-select__item-title{
    height: 70%;
}
/*Payment SHOW JS*/
.tab{
    margin-top: 2rem;
    display: none;
}
.tab.active{display: block;}
.tp-form{
    margin-top: 3rem;
}
.tp-form h4{
    margin: 1rem 0 .5rem;
}
.cr-card-icon{
    display: flex;
    padding: 0 1vw;
    align-items: center;
}
.cr-input{
    width: 100%;
    /* margin: .5rem 0 0 0; */
}
.cr-all{
    padding: .5rem;
}
.cr-card-all-icon{
    display: flex;
    margin-bottom: 1.5rem;
}
.cr-card__icon-item{
    flex-basis: 33.333%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.cr-card__icon-item > * {cursor:pointer;}
.date-input{
    display: flex;
    justify-content: space-between;
}
.CCV-wrap{
    display: flex;
    align-items: center;
    position: relative;
}
.CCV-wrap > *{cursor: pointer;}

.CCV-wrap > h4{margin-right: .5vw;}
.CCV-wrap > .CCV-icon{position: relative;margin: 1rem 0 .5rem;}
.CCV-note {
    position: absolute;
    top: -50%;
    padding: 5px;
    transform: translateY(-50%);
    background: #373737;
    color: #fff;
    visibility: hidden;
}
.CCV-note::after{
    content: "";
    position: absolute;
    left: 25%;
    top: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: #373737 transparent transparent transparent;
}
.CCV-wrap > .CCV-icon:hover + .CCV-note{visibility: visible;}

.cr-card__date{
    display: flex;
}

.cr-cardinput__date-wrap{
    flex-basis: 60%;
}
.cr-cardinput__CCV{
    flex-basis: 30%;
}
.ccv-field-wrap{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 0 auto;
}
.cr-card__date{
    display: flex;
    gap: 1vw;
}
.cr-card-user{
    width: 50%;
}

.cr-card__icon-item input{
    width: 20%;
    height: 100%;
}
.cr-card__icon-item i {font-size: 30px;}
.cr-card__icon-item label img{
    max-width: 100%;
    filter: grayscale(100%);
}
.cr-card__icon-item input:checked + label img{
    filter: grayscale(0);
}
.tp-form__confirm-payment {
    margin-top: 3rem;
    text-align: center;
}
.tp-form__confirm-payment button{
    cursor: pointer;
    padding: 1rem 0;
   width: 100%;
   border-radius: 30px;
   border: 1px solid #f0f0f0;
   color: #fff;
   font-size: 17px;
   background: #0063B2FF;
   transition: background .3s ease-in-out;
}
.tp-form__confirm-payment button:hover{
    background: rgb(0, 119, 216);
}

.back-btn {margin: 3rem 0 0 1rem;}
.back-btn span{cursor: pointer;text-decoration: underline;display: inline-block;}
.back-btn span:hover{opacity: .8;}
.back-btn span i {margin-right: 5px;}
.bank-pay__wrap > *{
    margin: .5rem 0;
}
.bank-pay__wrap > * > *{
    margin: 0rem 0 .7rem;
}
.bank-btn-pay{
    cursor: pointer;
    margin: 1rem 0;
    border: 1px solid #0063B2FF;
    color:  #0063B2FF;
    background: #fff;
    border-radius: 3px;
}
.bank-btn-pay:hover{
    background: #0063B2FF;
    border-color: #0063B2FF;
    color: #fff;
}


.direct-payment > *{
    margin: 0rem 0 2rem;
}
.cr-dr___type-ship > *{
    margin: 1rem 0 2rem;
}
.cr-dr__user-info h4{padding-bottom: .5rem;}
.cr-dr__user-info > h4{
    border-bottom: 1px solid #d3d3d3;
    margin-bottom:2rem;
}
.cr-dr__user-info > *{
    margin:.5rem 0;
}
.cr-dr__sex-select > *{
    margin-right: 2vw;
}
.sex-select__item{
    display: inline-block;
}
.cr-dr__info > input{
    margin: .5rem 0;
    width: 100%;
}
.cr-dr__address__wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.cr-dr__address__wrap .address-select{
    width: 48%;
}
.cr-dr__more{
    margin: 1rem 0;
}
.cr-more{width: 100%;}
.cr-dr__total{
    margin-top: 2rem;
}
.cr-dr__total > *{
    margin:1.5rem 0; 
}




/*PayConfirm--modal*/

.confirm-modal{
    position: fixed;
    top: 40%;left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(295deg, rgba(0,43,128,1) 0%, rgba(64,100,172,1) 45%);
    color: #fff;
    min-width: 320px;
    width: 40%;
    padding: 2.5rem 0;
    z-index: 50000000000;
}
.cf-md__img{position: relative;width: fit-content;margin: 0 auto;}
.cf-md__img img{margin: 0 auto;}
.ab{position:absolute;font-family:'Courier New', Courier, monospace;font-weight: bold;}
.cf-md__name{    bottom: 11%;
    left: 7%;
    font-size: 18px;}
.cf-md__stk{bottom: 38%;
    left: 7%;
    font-size: 21px;}
.cf-md__logo-img-card{top: 4.5%;right: 7%;}
.confirm-sub-info{
    color: #fff;
    margin: 0 auto;
    width: fit-content;
}
.confirm-sub-info > *{margin: 2rem 0 0;}
/* .confirm-modal > h3{text-align: center;}
.confirm-btn{text-align: center;} */
.confirm-btn-modal button{
    cursor: pointer;
    padding: .5rem 2.5rem;
    margin: 0 10px;
    border-radius: 10px;
}
.confirm-btn-modal  button.yes-btn{
    text-align: center;
    background: #C4A244;
    border: 1px solid #9B7B16;
    color: #fff;
}
.confirm-btn-modal  button.no-btn{
    border: 1px solid #9B7B16;
    color: #C4A244;
}
.confirm-btn-modal  button.yes-btn:hover{
    background: #fff;
    color: #C4A244;
}
.confirm-btn-modal  button.no-btn:hover{
    background: rgb(224, 224, 224)
}

/*ANIMATE Payment*/

.loading-payment-modal{
    position: fixed;
    top: 45%;left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500000;
    background: rgb(223, 223, 223);
    padding: 2rem 0;
    text-align: center;
    width: 400px;
}
.dr-payment{
    min-width: 320px;
}
.loading-payment-modal > h1{
    padding: 0rem 0 2rem;
}

/*change color*/
#success-tick{opacity: 0;}
#arrow-color1{
    animation: highlight2 .3s 3;
}
@keyframes highlight2 {
    from{
        fill: #4DB748;
    }
    to{
        fill: #2EF62A;
    }
}
/*set opacity cho arrow*/
#arrow{
    animation: hideArrow .1s .9s 1 forwards; /*forward de~ real-hide*/
}
@keyframes hideArrow {
    100%{
        opacity: 0;
    }
}
/*quet the*/
#card{
    animation: swipeCard 1 2.5s 1.5s linear forwards; /*giu nguyen vi tri*/
}
@keyframes swipeCard {
    0%{transform: translate(0, 0)}
    /*0 > 10% ~ (Y) 0 > 50px*/
    10%{transform: translate(0, 50px)}
    
    

    100%{
        transform: translate(150px, 155px);
        opacity: 0;
    }
}

#num7{
    animation: highlight3 .2s calc(.9s + 1.5s + 1s + .1s) 1 linear;
}
#num4{
    animation: highlight4 .3s calc(.9s + 1.5s + 1s + .5s) 1 linear;
}
#num1{
    animation: highlight5 .2s calc(.9s + 1.5s + 1s + 1s) 1 linear;
}
#num5{
    animation: highlight6 .2s calc(.9s + 1.5s + 1s + 1.5s) 1 linear;
}
#num3{
    animation: highlight7 .2s calc(.9s + 1.5s + 1s + 2s) 1 linear;
}
#num6{
    animation: highlight8 .2s calc(.9s + 1.5s + 1s + 2.5s) 1 linear;
}
#num9{
    animation: highlight9 .2s calc(.9s + 1.5s + 1s + 3s) 1 linear;
}
#tap-btn{
    animation: highlight10 .2s calc(.9s + 1.5s + 1s + 3.5s) 1 linear;
}
#console-bg{
    animation: highlight11 .2s calc(.9s + 1.5s + 1s + 4s) 1 ease-in-out forwards;
}
#success-tick{
    animation: highlight12 .2s calc(.9s + 1.5s + 1s + 4.25s) 1 ease-in-out forwards;
}
@keyframes highlight11 {
    from{
        fill: #4DB748;
    }
    to{
        fill: #2EF62A;
    }
}

@keyframes highlight12 {
    100%{opacity: 1;}
}

@keyframes highlight3 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight4 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight5 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight6 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight7 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight8 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight9 {
    from{
        fill: #CFDAE0;
    }
    to{
        fill: #BEC7CC;
    }
}
@keyframes highlight10 {
    from{
        fill: #4DB748;
    }
    to{
        fill: #2EF62A;
    }
}



.dr-payment{
    text-align: left;
}
.dr-payment h1 {text-align: center;}
#cai-thung-dienthoai{
    animation: moveUp infinite 2s linear alternate; /*alternate la value attribute direction cua keyframe*/
}
#banh-xe-truoc, #banh-xe-sau{
    animation: rotate infinite 1s linear;
    transform-origin: center center;
    transform-box: fill-box;
}
#truck-car{
    animation: moveOver 1s infinite linear alternate;
    overflow: hidden;
}
@keyframes moveOver {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-40%);
    }
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes moveUp {
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-47%);
    }
}


/*END=======SHOW JS */

.privacy__pay-total{
    padding: 1rem 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.bag-page__privacy-wrap .no-border{
    border: 0;
}
.pt__price__wrap{
    text-align: right;
}
.pt__title__wrap,.pt__price__wrap{
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.cta-buy__btn{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cta-buy__btn button {
    padding: .7rem 1rem;
    width: 100%;
    background: #0074d3;
    outline: none;
    border: 1px solid #373737;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.cta-buy__btn button:hover{
    background: #0063B2FF;
}
.cta-buy__btn button span {color: #fff;
font-weight: lighter;}






@media screen and (max-width: 64em) {
    .main__bag-page{
        flex-direction: column;
    }
    .bag-page__detail-wrap{
        padding: 0 0vw 0;
    }
    .bag-page__detail-wrap > h1 {font-size: 2.5rem;}
    .bag-page__detail-wrap > *:not(.product-w__content-wrap,.bag-page__privacy-mobile){
        padding: 3vw 2.5vw;
    }
    .pd-w__item-wrap{
        padding: 0 5vw;
    }
    .discount__input{
        width: 50%;
    }
    .discount__input > input{
        padding: 1rem 2rem 1rem .7rem;
    }
    .discount__input-field .discount__btn button{
        padding: 1rem 1.5rem;
    }
    .cta__like span{
        padding-right: 1vw;
    }
    .bag-page__privacy{
        display: none;
    }
    .bag-page__privacy-mobile{
        display: block;
        padding-top: 2vw;
    }
    /* .detail__phone-wrap{
        display: flex;
    }
    .phone__in4-part{
        flex-basis: 50%;
    }
    .phone__price-part{
        flex-basis: 50%;
        display: flex;
    }
    .phone__price-part .price-part__cta{
        flex-basis: 30%;
    }
    .phone__price-part .price-part__price{
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       flex-basis: 70%;
    } */
    input.input-field{
        width: 2.5rem;
    }
    .phone__price-part .price-part__cta{
        flex-basis: 60%;
    }
    .phone__price-part .price-part__price{
        flex-basis: 40%;
    }
}
@media screen and (max-width: 48em) {
    .product-w__wrap{
        overflow-x: scroll;
        border-bottom: 0;
    }
    .product-w__wrap::-webkit-scrollbar{
        height: 6px;
    }
    .product-w__item{
        flex-basis: 280px;
        min-width: 280px;
    }
}
@media screen and (max-width: 34.375em) {
    .detail__phone-wrap{
        flex-direction: column;
    }
    .phone__in4-part{
        margin-bottom: 2.5rem;
    }
    .phone__in4-part{
        flex-basis: auto;
        display: flex;
        justify-content: space-between;
    }
    .in4-part__img{
        order: 1;
        flex-basis: 15%;
    }
    .cta__inc-dec .inc {
        order: 1;
    }
}

@media screen and (max-width: 550px) {
    .discount__input{
        width: 65%;
    }
    .discount__input-field .discount__btn button:disabled{
        padding: 1rem 3vw;
    }
    
}
@media screen and (max-width: 26.6em) {
    .privacy__content{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .cta__like{
        width: 70%;
        text-align: right;
    }
}
@media screen and (max-width: 375px) {
    .discount__btn{
        display: flex;
    }
    .detail__cta{
        gap: 10px;
        flex-direction: column;
    }
    .cta__like{
        align-self: flex-end;
    }
}